ul li {
  display: inline;
  list-style-type: none;
  margin: 10px;
}
.user-container,
.todo-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
}
.todo-done {
  opacity: 30%;
}
.page {
  margin: 10px;
  padding: 10px;
}
